<div class="footer-wrapper"></div>

<script>
  // footer on the bottom
  $('.footer-wrapper').css('margin-top',$(document).height() - ($('.navbar-wrapper').height() + $('#content').height()) - $('.footer-wrapper').height());

</script>
