<div class="navbar-wrapper">
<div class="row">
  <div class="small-11 small-centered columns">
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><%= link_to "FP7", root_path %></h1>
        </li>
         <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li><a href="#"><%= link_to "Projects", projects_path %></a></li>
          <li><%= link_to "Organizations", organizations_path %></li>
        </ul>

        <!-- Left Nav Section -->
        <ul class="left">
          <li><a href="#">About this site</a></li>
        </ul>
      </section>
    </nav>

  </div>
</div>
</div>
