/* Colors Palette */

// BLUE
$dark-blue          : #06406c;
$med-blue           : #348fd4;
$med-blue-push      : #3083c2;
$sky-blue           : #38aad4;
$sky-blue-push      : #0c688a;
$light-blue         : #def5fd;
$med-blue-for-bgs   : #08497b;
$dodger-blue        : #3399FF;
// for tables
$darker-aliceblue   : #B4DCFF;
$aliceblue          : #F0F8FF;

// RED
$light-red          : #ff0202;
$light-red-push     : #d63333;
$med-red            : #be0101;
$red-stiletto       : #9A3334;
$red-alternate      : #2ba6cb;

// ORANGE and BROWNS
$very-light-orange  : #f9ecdc;
$med-orange         : #d12d01;
$light-brown        : #FFE2D4;

// YELLOW
$pastel-yellow      : #f8fcc8;
$yellow             : #f9fead;
$light-yellow       : #FBFCEB;
$med-yellow         : #ffde01;

// GREEN
$pastel-green       : #cafdd2;
$dark-green         : #09a118;


// WHITE - GREY - BLACK
$white              : #FFFFFF;
$light-grey         : #F7F7F7;
$very-light-grey    : #efefef;
$ecru-white         : #F3EFE0;
$ghost              : #FAFAFA;
$snow               : #F9F9F9;
$vapor              : #F6F6F6;
$white-smoke        : #F5F5F5;
$silver             : #EFEFEF;
$smoke              : #EEEEEE;
$gainsboro          : #DDDDDD;
$iron               : #CCCCCC;
$base               : #AAAAAA;
$aluminum           : #999999;
$jumbo              : #888888;
$monsoon            : #777777;
$steel              : #666666;
$charcoal           : #555555;
$tuatara            : #444444;
$oil                : #333333;
$jet                : #222222;
$soft-black         : #333333;
$heavy-black        : #181818;
$black              : #000000;


// We use these as default colors throughout
$primary-color      : #2871b4;
$primary-color-darker: #1a4a75;
$secondary-color    : #e7e7e7;
$alert-color        : #f04124;
$success-color      : #43AC6A;
$warning-color      : #f08a24;
$info-color         : #a0d3e8;
