// Place all the styles related to the Organizations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'foundation_and_overrides';

#graph-container {
    height: 500px;
    margin: auto;
    border: 1px solid;
    border-color: $secondary-color;
    background: $vapor;
    border-radius: $global-radius;
  }
