<h1>Organizations#graph</h1>
<p>Find me in app/views/organizations/graph.html.erb</p>
<!-- <p>Pay attention. It's a test. Just load just the firs five organizations</p>

<div class="small-12 columns">
  <%= #render partial: "graph" %>
</div>

 -->
