<!-- Organizations#index -->
<div class="row">
  <div class="small-11 small-centered columns">
  <h1>Organizations</h1>

  <br>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Short name</th>
        <th>Url</th>
        <th>Country</th>
        <th>N° Prog.</th>
        <th>N° Proj.</th>
        <th>Sum shares</th>
      </tr>
    <thead>
    <tbody id="organizations">
      <%= render partial: "organization" %>
    </tbody>
  <!-- ... -->
  </table>

  <%= paginate @organizations, remote: true %>

  <br>


  </div>
</div>



